version: '3.8'
services:
  nginx:
    container_name: semoss-nginx
    image: nginx:latest
    ports:
      - "8080:8080"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
  frontend:
    container_name: semoss-frontend
    image: semoss-doc:latest
    expose:
      - "3000"
    depends_on:
      - backend
  backend:
    container_name: semoss-backend
    image: docker.cfg.deloitte.com/genai/genai-server:4.3.2-chroot
    expose:
      - "8080"
